@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  name: wishlist;
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  default: true;
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  prefersdark: false;
  color-scheme: light;

  /* colors */
  --color-base-100: #f7f8f8;
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: #101729;
  --color-primary: #4cabe6;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #daecfa;
  --color-secondary-content: #4cabe6;
  --color-accent: oklch(20% 0 0);
  --color-accent-content: #677389;
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: #677389;
  --color-info: oklch(80.39% 0.1148 241.68);
  --color-info-content: oklch(30.39% 0.1148 241.68);
  --color-success: oklch(83.92% 0.0901 136.87);
  --color-success-content: #198109;
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(43.92% 0.1085 80);
  --color-error: #fdd9df;
  --color-error-content: #f43f5e;
  --color-subtle: #677389;

  /* border radius */
  --radius-selector: 32px;
  --radius-field: 32px;
  --radius-box: 12px;

  /* base sizes */
  --size-selector: 3.5px;
  --size-field: 3.5px;
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-primary-gradient {
    background: linear-gradient(135deg, #4cabe6 0%, #23d3ee 100%);
  }
  .bg-danger-gradient {
    background: linear-gradient(135deg, #fdd9df 0%, #fae8ea 100%);
  }

  /* Single rotation animation */
  @keyframes spin-once {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-once {
    animation: spin-once 0.8s ease-in-out;
  }

  .animate-spin-elastic {
    animation: spin-once 1.2s ease-in-out infinite;
  }

  /* Single bounce animation */
  @keyframes bounce-once {
    0%,
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-once {
    animation: bounce-once 0.8s ease-in-out;
  }
}
