@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  name: wishlist;
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  default: true;
  /* biome-ignore lint/correctness/noUnknownProperty: daisyUI theme properties are custom and not standard CSS */
  prefersdark: false;
  color-scheme: light;

  /* colors */
  --color-base-100: rgb(247 248 248);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: rgb(16 23 41);
  --color-primary: rgb(76 172 230);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: rgb(218 236 250);
  --color-secondary-content: rgb(76 172 230);
  --color-accent: oklch(20% 0 0);
  --color-accent-content: oklch(80% 0.0081 61.42);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(80% 0.0081 61.42);
  --color-info: oklch(80.39% 0.1148 241.68);
  --color-info-content: oklch(30.39% 0.1148 241.68);
  --color-success: oklch(83.92% 0.0901 136.87);
  --color-success-content: oklch(23.92% 0.0901 136.87);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(43.92% 0.1085 80);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(35.1% 0.1814 22.37);

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;
}

/*@theme inline {*/
/*  --color-primary: #4cabe6;*/
/*  --color-secondary: #daecfa;*/
/*}*/
